@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Open Sans";
}

body,
html {
  height: 100vh;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.underline {
  border-bottom: 1px solid rgb(83, 83, 83);
  cursor: pointer;
}

.underline:hover {
  border-bottom-width: 2px;
  transition: 0.1s;
}

.wrapper {
  transition: 1s filter;
}

.top {
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  z-index: 100;
}

/* Banner */
.banner {
  text-align: center;
  background: #ffff;
  padding: 1.2em 0;
}

.banner a {
  color: rgb(83, 83, 83);
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.nav section {
  display: block;
}

.nav img {
  width: 100px;
  height: 20px;
}

.nav .links a,
.nav .menu a {
  margin: 0 8px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.nav .links a:first-child {
  margin-left: 100px;
}
.nav .links a:last-child {
  margin-right: 0;
}

/* Main */
.main {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* model */
.model {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(14, 1fr);
  scroll-snap-align: center;
  background-position: 100% center;
}

.model-s {
  background-image: url("./img/model-s.jpg");
  background-size: cover;
  background-position: top center;
}

.model-y {
  background-image: url("./img/model-y.jpg");
  background-size: cover;
}

.model-3 {
  background-image: url("./img/model-3.jpg");
  background-size: cover;
}

.model-x {
  background-image: url("./img/model-x.jpg");
  background-size: cover;
}

.solar-panel {
  background-image: url("./img/solar-panel.jpg");
  background-size: cover;
}

.solar-proof {
  background-image: url("./img/solar-roof.jpg");
  background-size: cover;
}

.model h1 {
  color: #313131;
  opacity: 0.8;
  font-size: 3em;
  margin: 0;
  grid-row: 4/5;
  grid-column: 1/16;
  text-align: center;
  animation-name: goUp;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.model p {
  margin: 0;
  opacity: 0.7;
  grid-column: 1/16;
  grid-row: 5/7;
  text-align: center;
  animation-name: opacityOn;
  animation-duration: 0.8s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.model p {
  margin: 2px solid black;
}

.model span {
  border-bottom: 1.5px solid #333;
}

/* model buttons */

.model .buttons {
  grid-row: 13;
  grid-column: 1/16;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

.model .buttons button {
  text-transform: uppercase;
  border: 0;
  border-radius: 40px;
  margin: 5px 1.2em;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.8;
  padding: 0px 5em;
  height: 40px;
  animation-name: marginNarrow;
  animation-duration: 0.8s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.model .buttons button:nth-child(1) {
  background: rgb(37, 37, 37);
  color: #fff;
}

.model .buttons button:nth-child(2) {
  background: #f4f4f4;
  color: rgb(37, 37, 37);
}

.accessories .buttons {
  grid-column: 1/16;
}

.accessories .buttons button {
  background-color: black !important;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
}

.accessories .img {
  background-image: url("./img/accessories.jpg");
  background-position: center center;
  background-size: cover;
  /* border: 1px solid red; */
  grid-column: 6/11;
  grid-row: 5/12;
}

/* Down icon */
.down-icon {
  text-align: center;
  width: 100%;
  z-index: 10;
  grid-row: 14;
  grid-column: 8;
  margin-left: -13px;
}

.down-icon img {
  width: 35px;
  animation-name: upDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
}

/* Animation */
@keyframes goUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes marginNarrow {
  0% {
    margin: 5px 3em;
    opacity: 0;
  }
  100% {
    margin: 5px 1.2em;
    opacity: 0.8;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .md-screen {
    display: none;
  }

  .nav .menu a {
    /* border: 1px solid red; */
    padding: 7px 14px;
    border-radius: 20px;
    background-image: linear-gradient(
      to right,
      rgba(199, 223, 230, 0.7),
      rgb(184, 229, 243, 0.1)
    );
    font-size: 16px;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .banner {
    font-size: 13px;
    padding: 10px 0;
  }
  .model .buttons {
    grid-row: 11/13;
    flex-direction: column;
  }

  .model .buttons button {
    opacity: 0;
    animation-name: goUp !important;
    animation-fill-mode: forwards;
  }

  .down-icon {
    grid-row: 13/14;
    margin-top: 10px;
  }

  .model h1 {
    font-size: 2.2em;
  }

  .model p {
    font-size: 1em;
  }

  .model-s {
    background-size: cover;
    background-position: -300px 10px;
  }

  .model-y {
    background-position: -240px 10px;
  }

  .model-3 {
    background-position: -240px 10px;
  }

  .model-x {
    background-position: -200px 10px;
  }

  .solar-proof {
    background-position: 0px 0px;
  }
}

/* Menu Bar */
.menu-bar {
  width: 300px;
  /* border: 1px solid red; */
  z-index: 300;
  position: fixed;
  height: 100%;
  right: -500px;
  background: #fff;
  transition: 1s right;
  overflow: scroll;
}

.menu-bar ul {
  list-style-type: none;
  padding: 1em 2em;
}

.menu-bar ul li {
  margin: 8px 0;
  padding: 5px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s background-color;
}

.menu-bar ul li:hover {
  background-color: rgba(240, 240, 240, 0.877);
}

#close-menu-bar-btn {
  text-align: right;
  cursor: pointer;
}

.open-menu {
  right: 0;
  z-index: 300;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  z-index: 0;
  transition: 1s background-color;
}

.open-overlay {
  background-color: #57575760;
  z-index: 200;
}

.blur {
  filter: blur(3px);
}
